@import "tailwindcss";

body {
  font-family: "Micro 5", system-ui, Roboto, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #0f172b;
  background-color: #f1f5f9;
  margin: 0;
  padding: 0;
}

@theme {
  --animate-wiggle: wiggle 800ms ease-in-out infinite ;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
